# Dependencies
node_modules

# Build output
dist
.output
.nuxt
.nitro
.cache

# Kumphouse scan reports
.kumphouse
.unlighthouse

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Env
.env
.env.*
!.env.example

# Misc
coverage
*.local
